@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

body{
background-color: #36393f;
	font-family: 'DotGothic16', sans-serif;
	font-weight: bold;
}

.barra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: 65px;
    background-color: blueviolet;
    margin-bottom: 3%;
	text-align: center;
	border: 5px solid rgba( 255, 255, 255, 0.18 );
}

.corpo{
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    align-content: center;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
	background: rgba( 236, 0, 255, 0.70 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 10.0px );
	-webkit-backdrop-filter: blur( 10.0px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 22px;
}

.titulo{
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 5%;
}

.descricao{
	margin-top: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-content: center;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
	background: rgba( 236, 0, 255, 0.70 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 10.0px );
	-webkit-backdrop-filter: blur( 10.0px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 22px
}


/* Botões*/
:root {
	--font: 20px/1.2 'DotGothic16', sans-serif;
	--bg-hover: linear-gradient(
		135deg,
		#9048f9 0%,
		#2654e9 20%,
		#62d6fa 37%,
		#fff 50%,
		#fc35ca 66%,
		#7559ff 72%,
		#101ee7 100%
	);
	--btn-color: #2e175e;
}

/* button */
.btn {
	display: table;
	text-align: center;
	color: black;
	text-decoration: none;
	position: relative;
	font: var(--font);
	font-weight: bolder;
	padding: 22px 40px;
	background-color: var(--btn-color);
	overflow: hidden;
	margin: 24px;
	font-size: 23px;
}

.--animated {
	transition: all 1s;
}

.--animated span {
	position: relative;
	z-index: 9;
}

.--animated:after {
	height: 100%;
	width: 2000px;
	transition: all 1s;
	background: var(--bg-hover);
}

.--animated:before {
	height: 26px;
	width: 100%;
	top: -50px;
	z-index: 10;
	opacity: 0;
	background-color: rgba(255, 255, 255, 0.15);
}

.--animated:hover:before {
	top: 0;
	opacity: 1;
}
.--animated:hover:after {
	left: -1750px;
}
.--animated:before,
a:after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 7;
	display: block;
	content: "";
}
.--animated:active:before {
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
}
.--animated:active {
	transform: scale(0.95);
	transition: all 200ms;
}

